@font-face {
    font-family: 'gotham_boldregular';
    src: url('/styles/typography/gotham-bold-webfont.eot');
    src: url('/styles/typography/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/typography/gotham-bold-webfont.woff2') format('woff2'),
         url('/styles/typography/gotham-bold-webfont.woff') format('woff'),
         url('/styles/typography/gotham-bold-webfont.ttf') format('truetype'),
         url('/styles/typography/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
    color:#5d5d5d;

}




@font-face {
    font-family: 'gotham_bookregular';
    src: url('/styles/typography/gotham-book-webfont.eot');
    src: url('/styles/typography/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/typography/gotham-book-webfont.woff') format('woff'),
         url('/styles/typography/gotham-book-webfont.ttf') format('truetype'),
         url('/styles/typography/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
    color:#5d5d5d;

}




@font-face {
    font-family: 'gotham_mediumregular';
    src: url('/styles/typography/gotham-medium-webfont.eot');
    src: url('/styles/typography/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/typography/gotham-medium-webfont.woff2') format('woff2'),
         url('/styles/typography/gotham-medium-webfont.woff') format('woff'),
         url('/styles/typography/gotham-medium-webfont.ttf') format('truetype'),
         url('/styles/typography/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
    color:#5d5d5d;

}

body{
  font-family: 'gotham_mediumregular';
  color:#5d5d5d;
}
.mouseOver{
  background-color: #5d5d5d
}
.subText{
  font-size: 14px;
  font-weight: 2px;
}

.layListInactive{
	
	background:white;
	color:#5d5d5d;
	font:12px/1.5 "gotham_mediumregular", Arial, Helvetica, sans-serif;
}

.layListActive{
	background:#5d5d5d;
	color:#fff;
	font:12px/1.5 "gotham_mediumregular", Arial, Helvetica, sans-serif;
}

.layListInactive:hover{
	background-color: #ddd;
}

.layerLegend{
  position: absolute;
  z-index: 1000;
  background-color: white;
  right: 10px;
  bottom:100px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
  padding:10px;
  border-radius:4px;
}
.header{
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
  z-index:1;
  text-align:left;
  padding:20px;
  

}

.mapsidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000; }
  .mapsidebar.collapsed {
    width: 60px; }
  @media (min-width: 768px) {
    .mapsidebar {
      left: 10px;
      top: 10px;
      bottom: 10px;
      transition: width 500ms; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .mapsidebar {
      width: 305px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .mapsidebar {
      width: 390px; } }
  @media (min-width: 1200px) {
    .mapsidebar {
      width: 460px; } }

.sidebar-pane {
  display: none;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px; }
  .sidebar-pane.active {
    display: block; }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar-pane {
      width: 265px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-pane {
      width: 350px; } }
  @media (min-width: 1200px) {
    .sidebar-pane {
      width: 420px; } }

.sidebar-content{
	position: absolute;
  left: 60px;
  right: 0;
  padding-right: 30px;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  overflow-x: hidden;
  overflow-y: auto; }
}

.sidebar-tabs {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff; }
  .sidebar-tabs-li {
    width: 100%;
    height: 60px;
    color: #fff;
    font-size: 18pt;
    overflow: hidden;
    transition: all 80ms; }
    .sidebar-tabs-li:hover {
      color:#5d5d5d;
      background-color: #eee; }
    .sidebar-tabs-li.active {
      color: #fff;
      background-color: #5d5d5d; }
    .sidebar-tabs-li > a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 60px;
      color: inherit;
      text-decoration: none;
      text-align: center;
}

.sidebarClass{
  padding-right: 30px;
}

.comments-box{
 
}

.comments-box input{
  font-size:15px;
  color:#5d5d5d;
  width:90%;
  border-radius: 5px;
  border: 2px solid #ccc;
  padding:15px;

}
.comments-box textArea{
  font-size:15px;
  color:#5d5d5d;
  width:90%;
  height:300px;
  border-radius: 5px;
  border: 2px solid #ccc;
  padding:15px;
}
.comments-box button{
  font-size:15px;
  color:#5d5d5d;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding:10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.65);
}

.comments-box button:hover{
  font-size:15px;
  background-color: #5d5d5d;
  color:#fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding:10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.65);
}


